<meta charset="UTF-8">
<meta name="turbo-cache-control" content="no-cache">
<title>
  <%= title %>
</title>

<script src="/js/turbo.es2017-umd.js"></script>
<!--

<script>
  document.addEventListener('turbo:click', event => {
    console.log("turbo:click", event)
  });

  document.addEventListener('turbo:submit', event => {
    console.log("turbo:submit", event)
  });
</script>
-->