body {
  font-family: Arial, sans-serif;
  margin: 10px 20px;
}

a,
a.visited {
  color: #3783bb;
}

ul.example-list {
  font-size: 16px;
}

ul.example-list li {
  padding: 5px 0;
}

code {
  background-color: #ddd;
  padding: 0 4px;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid gray;
  margin: 5px 0;
  padding: 0 15px;
}

.list-item h4 {
  padding: 2px 20px 2px 2px;
  margin: 8px 0;
}

.note {
  border: 1px solid #a6a6ad;
  background-color: #ddf0ff;
  font-style: italic;
  font-size: 14px;
  max-width: 600px;
  padding: 10px;
  color: #191919;
}
