<form action="/item-actions/modify" method="post">
  <button name="list-action" value="add">Add Item</button>
  <button name="list-action" value="clear">Remove All Items</button>
  <button name="list-action" value="reset">Reset Items</button>
</form>