<div class="list-item" name="#item-<%= item.id %>">
  <h4>
    Item ID: <%= item.id %>
  </h4>

  <form action="/item-actions/modify" method="post">
    <input type="hidden" name="id" value="<%= item.id %>" />
    <button name="list-action" value="remove">Remove Item</button>
  </form>
</div>