<%- include('../partials/header') %>

  <h1>Stream Actions Example</h1>

  <%- include('./partials/action-buttons') %>

    <div id="item-list">
      <%- include('./partials/item-list') %>
    </div>

    <%- include('../partials/footer') %>