<%- include('../partials/header') %>

  <h2>Stream Actions Example</h2>

  <%- include('partials/action-buttons') %>

    <div id="item-list">
      <% for (const item of items) { %>
        <%- include('partials/item-row', { item }) %>
          <% } %>
    </div>

    <%- include('../partials/footer') %>