<%- include('./partials/header') %>

  <ul>
    <li>
      <a href="/item-actions">Item Actions: Single <code>turbo-stream</code> response example.</a>
    </li>
    <li>
      <a href="/item-list">Item List: Multiple <code>turbo-stream</code> response example.</a>
    </li>
  </ul>

  <%- include('./partials/footer') %>