<%- include('./partials/header') %>

  <h2>Turbo Stream Examples</h2>

  <p class="note">
    The following are a few contrived examples of using turbo streams to
    work with a given data set. The backend includes a faux data store of
    a few dozen "item" objects (they just have an ID).
  </p>

  <ul class="example-list">
    <li>
      <a href="/item-actions">Item Actions</a>: single <code>&lt;turbo-stream&gt;</code> response example.
    </li>
    <li>
      <a href="/item-list">Item List</a>: multiple <code>&lt;turbo-stream&gt;</code> response example.
    </li>
  </ul>

  <%- include('./partials/footer') %>