<%- include('./partials/header') %>

  <h2>Turbo Stream Examples</h2>

  <p class="note">
    The following are a few contrived examples of using turbo streams to
    work with a given data set. The backend includes a faux data store of
    a few dozen "item" objects (they just have an ID).
  </p>

  <ul class="example-list">
    <li>Item Actions</a>: single <code>&lt;turbo-stream&gt;</code> response examples.
      <ul>
        <li>
          <a href="/items/actions/plain">"Plain" mode example.</a>
        </li>
        <li>
          <a href="/items/actions/sse">Server Sent Events (SSE) mode example.</a>
        </li>
        <li>
          <a href="/items/actions/websockets">WebSockets mode example.</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/items/list">Item List</a>: multiple <code>&lt;turbo-stream&gt;</code> response example.
    </li>
  </ul>

  <%- include('./partials/footer') %>