<%- include('./partials/header') %>

  <h2>Turbo Stream Examples</h2>

  <ul class="example-list">
    <li>
      <a href="/item-actions">Item Actions</a>: single <code>&lt;turbo-stream&gt;</code> response example.
    </li>
    <li>
      <a href="/item-list">Item List</a>: multiple <code>&lt;turbo-stream&gt;</code> response example.
    </li>
  </ul>

  <%- include('./partials/footer') %>